[mysqld]
# 文字セット
collation-server = utf8mb4_unicode_ci
character-set-server = utf8mb4
default_authentication_plugin = mysql_native_password

# バッファ関連設定
key_buffer_size = 128M
sort_buffer_size = 2M
read_buffer_size = 2M
join_buffer_size = 8M
innodb_buffer_pool_size = 512M

# ログファイル関連設定
#slow_query_log = 1
#slow_query_log_file = /var/log/mysql/mysql-slow.log
#long_query_time = 10
#log_error = /var/log/mysql/error.log

# その他設定
max_connections = 10
max_user_connections = 5
wait_timeout = 28800
interactive_timeout = 28800
